<%- include('../partials/header_admin'); -%>

<div class="banner">
  <div class="app-text">
    <h3><%= contact_info.name %></h3>
    <h3><%= contact_info.email %></h3>
    <h3><%= contact_info.contact %></h3>

    <% if (contact_info.subject === "") { %>

    <h1>--------</h1>
    <p></p>
    <% } else { %>
    <h1><%= contact_info.subject %></h1>
    <p><%= contact_info.message %></p>
    <% } %>
  </div>
</div>

<%-include('../partials/footer_admin'); -%>
