<%- include('../partials/header_admin'); -%>



<div class="wrappers123">
  <header>Contact Details</header>


  <nav>


  <section>
    <div class="contentss">
      <div class="wrappersss">
      

    <h3>Name: <%= contact_info.name %></h3>
    <h3>Email: <%= contact_info.email %></h3>
    <h3>Phone no.: <%= contact_info.contact %></h3>

    <% if (contact_info.subject === "") { %>

    <h3>Message: N/A</h3>
    <p></p>
    <% } else { %>
    <h3>Subject: <%= contact_info.subject %></h3>
    <p>Message: <%= contact_info.message %></p>
    <% } %>

      </div>
    </div>
  </section>
</div>
<%-include('../partials/footer_admin'); -%>
