<%- include('../partials/header_admin'); -%>

<button class="add__button button--flexs services__button">
  Add Member<img src="/img/add.png" alt="" class="add__icon" />
</button>

<div class="services__modal">
  <div class="services__modal-content">
    <i class="uil uil-times services__modal-close"></i>

    <section class="ccontact csection" id="ccontact">
      <h2 class="asection__title">Add new member</h2>
      <span class="asection__subtitle">*all the input fields are required</span>
      <div class="ccontact__container ccontainer cgrid">
        <form
          action="/admin/profiles"
          method="POST"
          class="ccontact__form grid"
        >
          <div class="ccontact__inputs cgrid">
            <div class="ccontact__content">
              <label for="" class="ccontact__label">Name</label>
              <input type="text" name="name" class="ccontact__input" />
            </div>

            <div class="ccontact__content">
                <label for="" class="ccontact__label">Contact No.</label>
                <input type="number" name="contact" class="ccontact__input" />
              </div> 
          </div>
         
          <div class="ccontact__content">
            <label for="" class="ccontact__label">Email</label>
            <input type="email" name="email" class="ccontact__input" />
          </div>
        </div>
            <div class="ccontact__content">
              <label for="categories" class="ccontact__label"
                >Position:</label
              >
              <select class="ccontact__input" name="position">
                <option value=""></option>
                <option value="Punong Barangay">Punong Barangay</option>
                <option value="Sangguniang Barangay Member">Sangguniang Barangay Member</option>
                <option value="SK Chairperson">SK Chairperson</option>
                <option value="Barangay Secretary">Barangay Secretary</option>
              </select>
            </div>
    

          <div>
            <input type="submit" class="cbutton cbutton--flex" value="Done" />
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<table id="JavaScriptTable">
  <tr>

    <th>Name</th>
    <th>Position</th>
    <th>Email</th>
    <th>Contact No.</th>
    <th>Action</th>
  </tr>

  <% if (profile.length > 0) { %> <% for(let i =0; i < profile.length; i++){ %>

  <tr>
    <td><%= profile[i].name %></td>
    <td><%= profile[i].position %></td>
    <td><%= profile[i].email %></td>
    <td><%= profile[i].contact %></td>
    <td>
      <a class="single" href="/admin/profiles/settings/<%= profile[i]._id %>"
        >
      <i class="uil uil-edit set__icon"></i>
      </a>
    </td>
  </tr>

  <% } %> <% } else { %>
  <tr>
    <td class="centre" colspan="5">There are no profile to display...</td>
  </tr>
  <% } %>
</table>




 <%-include('../partials/footer_admin'); -%>
