<%- include('../partials/header_admin'); -%>

<div class="wrapper">
  <header>Programs</header>
  <input type="radio" name="slider" checked id="update" />
  <input type="radio" name="slider" id="delete" />

  <nav>
    <label for="update" class="updates"><i class="uil uil-edit"></i>Edit</label>
    <a
      for="delete"
      class="deletes"
      href="/admin/programs/settings/delete/<%= program_info._id %>"
      onclick="return confirm('Are you sure to delete this record ?');"
      ><i class="uil uil-trash-alt"></i>Delete</a
    >
    <div class="slider"></div>
  </nav>

  <section>
    <div class="content updateForm">
      <div class="wrappers">
        <form
          action="/admin/programs/settings"
          method="POST"
          class="form"
          enctype="multipart/form-data"
          autocomplete="off"
        >
          <input type="hidden" name="_id" value="<%= program_info._id %>" />

          <div class="inputfield">
            <label>Link</label>
            <input
              type="text"
              class="input"
              name="link"
              value="<%= program_info.link %>"
            />
          </div>
          <br />
          <div>
            <input
              type="file"
              class="form-control"
              name="filename"
              id="formFile"
              multiple
              value="<%= program_info.filename %>"
            /><br />
          </div>
          <br />
          <div class="inputfield">
            <button type="submit" class="btn">Update</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<%-include('../partials/footer_admin'); -%>
